.container {
  min-height: 80vh;
  position: relative;
  margin-top: 50px;
}
.node {
  border: 1px solid black;
  width: 150px;
  padding: 0;
  margin: 2px;
  height: max-content;
  position: absolute;
  text-align: center;
  min-height: 50px;
}
.controls {
  margin-top: 50px;
  margin-left: 25px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.delete-pre {
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  width: fit-content;
}
.control-button {
  width: fit-content;
  padding: 5px !important;
  margin: 15px;
}
